{% extends "index.html" %}
{% block content %}

    <form class="main-container" action="{{ url_for('main.main_route') }}" method="post" enctype="multipart/form-data">
        {% if message == "No File" %}

            <div class="error">
                Please choose a valid file
            </div>

        {% endif %}

        <ul>
            <li class="input-field">
                <label for="chatFile">Upload a chat file</label>
                <input class="field-style field-full align-left" type="file" id="chatFile" name="file" accept=".txt">
            </li>
            <li class="input-field">
                <label for="metric-input">Choose a metric</label>
                <select class="form-control field-style" name="metric" id="metric-input">
                    <option value="posts">Posts</option>
                    <option value="words">Words</option>
                </select>
            </li>
            <li>
                <input type="submit" value="Get Stats" />
            </li>
        </ul>
    </form>

{% endblock %}