{% extends "index.html" %}
{% block content %}

    <form class="main-container" action="{{ url_for('main.main_route') }}" method="post" enctype="multipart/form-data">
        <ul>
            <li>
                <input class="field-style align-left" type="file" id="chatFile" name="file" accept=".txt">
            </li>
            <li>
                <select class="form-control field-style" name="metric" id="metric-input">
                    <option value="posts">Posts</option>
                    <option value="words">Words</option>
                </select>
            </li>
            <li>
                <input type="submit" value="Get Stats" />
            </li>
        </ul>
    </form>

{% endblock %}