<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<title>WhatStats</title>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../static/css/styles.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <h1 id="title">WhatStats</h1>
</head>
<body class="body-container">

    <div class="form-container">

        <form action="{{ url_for('main.main_route') }}" method="post" enctype="multipart/form-data">

            <div class="input-group">
                <span class="input-group-addon">Chat File</span>
                <input class="form-control" type="file" id="chatFile" name="file" accept=".txt"><br>
            </div>

            <div class="input-group">
                <span class="input-group-addon">Metric</span>
                <select class="form-control" name="metric">
                    <option value="posts">Posts</option>
                    <option value="words">Words</option>
                </select><br>
            </div>

            <button type="button" class="btn btn-default" id="getStats">Go!</button>

        </form>

    </div>

    {% block content %}{% endblock %}

</body>

</html>